.imageBlock {
  width: 250px;
  height: 170px;
  overflow: hidden;
  display: flex;
  align-items: center;
  border: 1px solid #eee;
  cursor: pointer;
}
.image {
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 768px) {
  .imageBlock {
    width: 400px;
    height: 266px;
  }
}
